.post-user {
    object-fit: cover;
    width: calc((100vw - 320px)/3);
    height: calc((100vw - 320px)/3);
    &:hover {
        background: var(red);
        cursor: pointer;
    }
    @media only screen and (max-width: 768px) {
        width: 32vw;
        height: 32vw;
    }
    
}
.modal-image {
    width: 100%;
    object-fit: cover;
}
.modal {
    width: 95vw !important;
    max-width: 600px !important;
}

.edit {
    position: absolute;
    right: 5px;
}

.tags {
    display: flex;
    .tag {
        margin-right: 5px;
        cursor: pointer;
        color: rgb(29, 29, 163);
    }
}

.icon-action {
    width: 75px;
    display: flex;
    align-items: center;
    p {
        margin-left: 10px !important;
    }
}