.predict {
    width: 100%;
    background: white;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    .score {
        font-weight: bold;
    }
    
    .button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        button {
           padding: 5px 10px;
            background: white;
            border: 1px solid black;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    
}