.App {
  
}
#root {
    background: #FAFAFA;
}
.ant-layout-header {
    display: flex;
    justify-content: space-between;

}
.ant-input {
    outline: none !important;
}
.ant-row {
    justify-content: space-around;
}
