@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display+SC:wght@400;700&display=swap');
:root {
  --grey:#FAFAFA;
  --dark-grey: #DBDBDB;
  --light-grey: #CBC4B8;
  --light-black: rgba(0,0,0,.45);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}
body {
  max-height: initial;
  min-height: 100vh;
  width: 100vw;
  height: 100%;
  overflow-x: hidden !important;
}
p {
  margin: 0 !important;
}
